# To ensure app dependencies are ported from your virtual environment/host machine into your container, run 'pip freeze > requirements.txt' in the terminal to overwrite this file
click==8.0.4
colorama==0.4.4
Flask==2.0.1
Flask-Cors==3.0.10
gunicorn==20.0.4
itsdangerous==2.1.1
Jinja2==3.0.3
MarkupSafe==2.1.1
six==1.16.0
Werkzeug==2.0.3
